extends ../layout

block content
  h1 Idea
  p.lead Single idea.  
    a.btn.btn-default(href='/seller/idea/'+idea._id+'/project/create', role='button') Create project
  hr
  .row
    .col-sm-12
        h2 #{idea.title}
        p #{idea.description}
        p Kund: #{idea.customer}
        p Kontakt: #{idea.contact}
        hr
        p Projekt typ: #{idea.projectType}
        p Typ: #{idea.type}
        p Letar efter: #{idea.lookingFor}
        p Antal timmar: #{idea.hours}
        p Estimering i timmar: #{idea.estimate}